<div class="container">
  <mat-card>
    <mat-card-title>Pacman</mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <canvas id="map1">Your browser not support fun :)</canvas>
          <canvas id="map2"></canvas>
          <canvas id="food"></canvas>
          <canvas id="pacman"></canvas>
          <canvas id="blinky"></canvas>
          <canvas id="pinky"></canvas>
          <canvas id="inky"></canvas>
          <canvas id="clyde"></canvas>
        </div>

        <div class="col">
          <mat-list>
            <mat-list-item>
              <h4 mat-line>HIGH&nbsp;&nbsp;&nbsp;SCORE</h4>
              <p mat-line>{{score}}</p>
            </mat-list-item>
          </mat-list>

          <mat-card>
            <mat-card-title>Game&nbsp;&nbsp;&nbsp;Control</mat-card-title>
            <mat-card-content>
              <img style="width: 100%" src="../assets/img/wasd.png" alt="Game Control">
            </mat-card-content>
          </mat-card>

          <h1 class="gameOver" *ngIf="gameOverAlert">GAME OVER</h1>
          <h1 class="win" *ngIf="score === 2440">WIN</h1>
          <h1 class="start" *ngIf="!gameArea.startGame">PRESS ENTER TO START</h1>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <span class="spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeTheme('light')">
          <mat-icon>brightness_high</mat-icon>
          <span>Light</span>
        </button>
        <button mat-menu-item (click)="changeTheme('dark')">
          <mat-icon>brightness_low</mat-icon>
          <span>Dark</span>
        </button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</div>
